main {
  font-family: monospace;
}

dl {
  margin: 0;
  padding: 0;
}

dl dl {
  padding-left: 2ch;
  border-left: 1px solid #bfbfbf;
}

dt, dd {
  margin: 0;
  display: inline;
}

dl.array dt {
  color: #bfbfbf;
}

dl.object dt {
  color: #4e9590;
}

.squareBrackets {
  color: #f2cab8;
}
